<html lang="en">
<head>

	{{> header}}
	
	</head>

	<body>

		<h1>Chat</h1>

	<div class="container">
      {{> menu}}


		<input type="text" id="usernamebox" placeholder="Username">
		<input type="text" id="chatMessageTextBox" placeholder="Chat Message:"/>
		<button id="sendMessage">Send</button>
		
		<ul id="messagesUL">
			
		</ul>
		
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io()
		</script>

		</div>

		<script src="/js/client.js"></script>
		</div>
			{{> footer}}
	</body>
</html>