<html>
<head>
<link rel="stylesheet" href="index.css"></link> 
<script type="text/javascript" src="jquery.js"></script>
</head>
<body>

<div class="container">
      {{> menu}}

<h2>Trips - - - - <a href="/add-trip">Add A Trip</a></h2>

<ul>
{{#tripList}}
<div>
<div style="background-image: url({{image}}); width: 400px; height:300px; object-fit:contain">
<li><h1>{{title}} <br> {{departDate}} till {{returnDate}}</h1></li>
</div>
<a href="/remove/{{id}}">remove</a>
</div>
{{/tripList}}
</ul>

</div>

    {{> footer}}

<script type="text/javascript" src="navbar.js"></script>
</body>


</html>