.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    width: 800px;
    border: 5px black;
    position: relative;
    background-color: white;
  }

  .bluesq {
    background-color: #34aeeb;
    height: 200px;
    width: 800px;
    position: absolute;
  }
  
  .pinksq1 {
    background-color: #f177c9;
    height: 5px;
    width: 200px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 100px 0;
    margin: 255px 0px 0px 0px;
  }
  
  .pinksq2 {
    background-color: #f571c9;
    height: 5px;
    width: 200px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 100px 0;
    margin: 255px 0px 0px 305px;
  }
  
  .pinksq3 {
    background-color: #f571c9;
    height: 5px;
    width: 200px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 100px 0;
    margin: 255px 0px 0px 600px;
  }
  
  .yellowsq1 {
    background-color: #fcae38;
    height: 60px;
    width: 170px;
    position: absolute;
    margin: 270px 0px 0px 15px;
  }
  
  .yellowsq2 {
    background-color: #fcae38;
    height: 60px;
    width: 170px;
    position: absolute;
    margin: 270px 0px 0px 320px;
  }
  
  .yellowsq3 {
    background-color: #fcae38;
    height: 60px;
    width: 170px;
    position: absolute;
    margin: 270px 0px 0px 618px;
  }