body {
  background-image: url("https://i.pinimg.com/originals/ce/a0/3b/cea03b10d468f8b3fb183b2df214b3b7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: -webkit-center;

 }

 h2 {
   font-size: 40px;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
 img {
  width: 100%;
}
