p, ul {
	font-size: 20px;
	line-height: 2;
	letter-spacing: 1.5px;
	color: rgb(255, 112, 172)
}
html {
	background-color: #1fa3e0;
}
body {
	width: 660px;
	margin: 0 auto;
	background-color: #97e98c;
	padding: 0 20px 20px 20px;
	border: 7px solid rgb(247, 243, 247);
	margin-top: 30px;
	margin-bottom: 30px;
}
h1 {
	margin: 0;
	padding: 20px;
	color: #dee3e6;
	text-shadow: 1px 1px 1px black;
	font-size: 60px;
	text-align: center;
}
h2 {
	font-size: 25px;
	text-align: center;
	color:rgb(198, 230, 20)
  }
img {
	display: block;
	margin: 0 auto;
	width: 600px;
	height: 300px;
}
a:link {
	color: rgb(13, 24, 13);
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color: rgb(150, 151, 224);
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
  }