body{
    text-align: -webkit-center;
    background-color: rgb(117, 117, 243);
}

h1 {
    color: rgb(196, 45, 45);
    text-shadow: 1px 1x rgb(31, 245, 42);
    display: 
}

li {
    list-style: none;
}
