  
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="addtrip.css"></link> 
</head>
<body>

<h2>Add A Trip  -  -  <a href="/" >return to trips</a></h2>
<form method="POST" action='/add-trip'>
<input type="text" placeholder="Trip Name" name="title" />
<input type="text" placeholder="Image URL" name="image" />
Start Date<input type="date" name="startDate" />
End Date<input type="date" name="endDate" />
<button>Add</button>
</form>

</body>

</html>